
.opening-page {
    cursor: none;
}


#scissorCursor {
    position: fixed;

    top: 0;
    left: 0;

    width: 150px;
    height: auto;

    transform:
        translate(-50%, -50%);

    z-index: 10;

    pointer-events: none;

    opacity: 0;

    transition:
        opacity 0.2s ease,
        transform 0.15s ease;
}

.opening-page:hover #scissorCursor {
    opacity: 1;
}

#scissorCursor.cutting {
    transform:
        translate(-50%, -50%)
        scale(1.08); 
}

.cut-instruction {
    position: absolute;

    bottom: 30px;
    left: 0;

    width: 100%;

    margin: 0;

    text-align: center;

    font-family: "Courier New", sans-serif;
    font-size: 15px;
    color: black;
    line-height: 1.45;
    letter-spacing: -1px;
    font-weight: 400;

    -webkit-text-stroke: 0.25px currentColor;

    z-index: 10;

    pointer-events: none;
}